@section scripts{
    <script src="@Url.Content("~/js/sideBar.js")" type="text/javascript"></script>
    <script>
        changeSideBarButtonStatus("sidebar_dashboard");
    </script>
}


<center>  <h2>Welcome to NIBM Job Protal</h2>   </center>



<marquee direction="left"> <img src="~/images/logo2.png" alt="Alternate Text" /> </marquee>
<marquee direction="right"> <img src="~/images/logo2.png" alt="Alternate Text" /> </marquee>