@model NIBM_Job_Portal.Models.User.Login 
@{

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h1 style="color: #2F4189;" class="text-center fw-bold">NIBM Job Portal</h1>
            <div class="container">

                <div class="span4"></div>
                <div class="span4">
                    <img src="~/images/logo2.png" width="180px" height="auto" style="display: block; margin-top: 20%;
                                margin-left: auto;
                                margin-right: auto;">
                </div>
                <div class="span4"></div>

            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Sign In</h3>
            <form id="account" method="post" asp-action="OnLogin" asp-controller="Account">
                <hr />
               @* <div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email"  class="text-light"></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-12" style="padding-right:0px;padding-left: 0px;">

                        <input asp-for="Password" placeholder="Password" id="txtPWD" class="form-control icon-input" />
                        <a><i class='fa fa-eye-slash times-icon' id="btnShowPassword" aria-hidden='true'></i></a>
                        
                        <span asp-validation-for="Password" class="text-light"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label asp-for="RememberMe" class="text-light">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>

                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="form-group">
                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">

                    <button type="submit" class="btn btn-sm btn-light text-primary"
                            style=" width: 100px !important;">
                        Sign In
                    </button>
                </div>
            </form>
            <div class="container text-center">
                <div class="wrap">
                    <span>
                        <a href="" class="text-light">Terms and Condition</a> &nbsp;
                        <a href="" class="text-light">Privacy Policy</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
 