@model AdminCompanyViewModel

@section scripts{
    <script src="@Url.Content("~/js/sideBar.js")" type="text/javascript"></script>
    <script>
        changeSideBarButtonStatus("sidebar_company");
    </script>
}

<div class="
              d-flex
              justify-content-left
              flex-wrap flex-md-nowrap
              align-items-center
              pb-2
              mb-3
              border-bottom
            ">
    <h2 class="h2">Add Company</h2>

</div>

<div class="row">

    <div class="col-lg-8">
        <form method="post" asp-action="onCreate" asp-controller="Company">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Company ID</label>
                       
                        <input type="text" asp-for="Id" class="form-control" disabled placeholder="Company ID">
                        
                        <span class="form-text text-muted" asp-validation-for="Id"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Company Name</label>
                       
                        <input type="text"  asp-for="Company_Name" class="form-control" placeholder="Company Name">
                     
                        <span asp-validation-for="Company_Name" class="form-text text-muted"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Job Category</label>
                        <select class="form-select form-select-sm form-control" asp-for="IndustryId" asp-items="@(new SelectList(Model.Industry, "Id", "Name"))">
                            <option selected value="">Choose</option>
                        </select>
                        <input type="hidden" asp-for="IndustryId" />
                        <span asp-validation-for="IndustryId" class="form-text text-danger"></span>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Email</label>
                        
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        
                        <span asp-validation-for="Email" class="form-text text-muted"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Auto generated password</label>
                       
                        <input disabled type="password" class="form-control" placeholder="Test@123">
                        
                        <span  class="form-text text-muted"></span>
                    </div>
                </div>
            </div>
            <div class="row float-right">
                <button type="submit" class="btn btn-sm btn-primary mr-1">Add New</button>
                <button type="reset" class="btn btn-sm btn-primary">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>

</div>