@model AdminCompanyViewModel

@section scripts{
    <script src="@Url.Content("~/js/sideBar.js")" type="text/javascript"></script>
    <script>
        changeSideBarButtonStatus("sidebar_company");
        $('#txtEmail').keyup(function () {

        })

        $("#btnShowAutoPassword").click(function () {
            var allInputs = $("#autoPwd");

            if (allInputs.attr('type') == "password") {
                $('#autoPwd').prop("type", "text");
                $("#autoPWDIcon").toggleClass("fa-eye fa-eye-slash")


            }
            else {
                $('#autoPwd').prop("type", "password");
                $("#autoPWDIcon").toggleClass("fa-eye-slash fa-eye")
            }

        })
    </script>
}

<div class="
              d-flex
              justify-content-left
              flex-wrap flex-md-nowrap
              align-items-center
              pb-2
              mb-3
              border-bottom
            ">
    <h2 class="h2">Add Company</h2>

</div>

<div class="row">

    <div class="col-lg-8">
        <form method="post" asp-action="Create" asp-controller="Company">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Company Name <small>(60CH)</small></label>
                        <input type="text" asp-for="Company_Name" class="form-control" maxlength="60" placeholder="Company Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Industry</label>
                        <select class="form-select form-select-sm form-control" asp-for="IndustryId" asp-items="@(new SelectList(Model.Industry, "Id", "Name"))">
                            <option selected value="">Choose</option>
                        </select>
                        <input type="hidden" asp-for="IndustryId" />
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Email</label>

                        <input asp-for="Email" id="txtEmail" type="email" class="form-control" placeholder="Email">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Auto generated password</label>
                        <input type="hidden" asp-for="DefaultPasssword" />
                        <div class="input-group mb-3">
                            <input disabled type="password" asp-for="DefaultPasssword" id="autoPwd" value="@Model.DefaultPasssword" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" id="btnShowAutoPassword"  type="button"><i class='fa fa-eye-slash' id="autoPWDIcon"  aria-hidden='true'></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<label for="">Company ID</label>*@
            <input type="text" style="visibility:hidden" asp-for="Id" disabled placeholder="Company ID">
            @*<span class="form-text text-muted" asp-validation-for="Id"></span>*@
            <div class="row float-right">
                <button type="submit" class="btn btn-sm btn-primary mr-1">Add New</button>
                <a id="sidebar_profile" class="btn btn-sm btn-primary" asp-area="" asp-controller="Company" asp-action="Index">
                    Cancel
                </a>
            </div>

        </form>
    </div>
    <div class="col-lg-4"></div>

</div>